/* Accounts list */
h1 {
    color: #6545A4;
    padding: 20px;
    text-align: left;
}

main {
    height: calc(100% - (4em + 3rem + 0.625rem));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Header */
.navbar {
    justify-content: flex-start;
}

/* Search bar */
main form {
    padding-left: 5px;
    padding-right: 5px;
}

.list-group {
    border-radius: 10%;
}

/* Single cell */
.list-group-item {
    padding: 0px;
    background-color: rgb(251, 251, 251);
}

.singlecell {
    margin: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 70% 25% 5%;
    align-items: center;
    row-gap: 1rem;
    text-align: left;
}

.singlecell .email {
    overflow: hidden;
    text-overflow: ellipsis;
    grid-column: 1 / span 1;
}

.singlecell .badge{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    grid-column: 2 / span 1;
    width: fit-content;
}

.singlecell .btn {
    width: fit-content;
    padding: 0;
    grid-column: 3 / span 1;
}

.singlecell .collapse {
    grid-column: 1 / span 3;
}

.singlecell .show {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.singlecell .show .form-check{
    margin-right: auto;
    color: #6545a4;
}

.form-check-input, .form-check-input:focus {
    border-color: #9062EA;
}

.form-check-input:checked {
    background-color: #6545a4;
    border-color: #9062EA;
}

/* Pagination */
.pagination {
    justify-content: space-around;
}

.page-item.active .page-link{
    background-color: #9062EA;
    border-color: #9062EA;
}

.page-item.disabled .page-link{
    display: none;
}

.page-item .page-link{
    background-color: #E7DAFF;
    border-color: #E7DAFF;
    color: #6545A4;
}

/* Button */
.btn-reset {
    background-color: #9062EA;
    border-color: #9062EA;
    color: #E7DAFF;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.btn-reset:focus, .btn-reset:active {
    background-color: #6545A4;
    border-color: #6545A4;
    color: #E7DAFF;
}

.btn-del {
    color: #FF5757;
}

.btn-del:focus, .btn-del:active {
    color: #FF5757;
}
