.card-header {
    display: flex;
    justify-content: space-between;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.entry-content {
    text-align: left;
    max-width: 80%;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 10px;
}

.image-wrapper img {
    width: 100%;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav i{
    margin-right: 10px;
  }