/* HTML body */
body {
  background-color: #e7daff;
}

main h1 {
  margin-bottom: 2rem;
  color: #6545a4;;
}

/* Calendar */
button {
  width: 30vw;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  color: white;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
}

#calendar-container {
  border-radius: 1rem;
  box-shadow: 0px 0px 4px #656862;
  background-color: #FFFCFF;
}

#calendar-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #d36c6c;
  font-size: 1rem;
  font-family: sans-serif;
}
#calendar-header button {
  background-color:#92a1d1;
}

#weekdays {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  font-size: 0.9rem;
  color: #9062ea;
}
#weekdays div {
  height: 100%;
  margin-left: 5px;
  text-align: center;
}
#calendar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
.day {
  padding-top: 20px;
  text-align: center;
  height: 70px;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  box-shadow: 0px 0px 3px #CBD4C2;
}

.day:hover {
  background-color: #e8faed;
}

.currentDay {
  background-color:#e8f4fa;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

#monthDisplayTitle {
  font-size: small;
}

/* Worry button */
.worryButton {
  width: 70%;
  border: none;
  background-color: #92a1d1;
  color: #6545a4;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

main p {
  margin: 1rem;
}