/* Bottom Navbar */
.material-symbols-outlined {
    align-items: center;
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}
  
.icon-btn {
    text-align: center;
    text-decoration: none;
}
  
.navbar {
    background-color: #e7daff;
}
  
.navbar i, .navbar p {
    color: #6545a4;
}

/* Header */
.material-symbols-outlined {
    align-items: center;
      font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}
  
.icon-btn {
    text-align: center;
    text-decoration: none;
}
  
.navbar {
    background-color: #e7daff;
}
  
.navbar i, .navbar p {
    color: #6545a4;
}
  
.navbar-brand img{
    margin-left: 20px;
}
  
.navbar-brand span{
    color: #6545a4;
}

/*  */
html, body {
    height: 100%;
}

/* Mood Graph */
#moodgraph {
    background-color: #E7DAFF;
    width: 80%;
}

.moodgraph_container {
    /* width: 80%; */
    justify-content: center;
}

/* Logout button */
.LogOutButton {
    width: 75%;
    border: none;
    background-color: #ff9999;
    color: #6545a4;
    margin: 50px;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
  }