<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WorryLess</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/home_page.css" />

    <!-- FAVICON -->
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico" />
  </head>

  <body>
    <!-- Header -->
    <nav class="navbar">
      <a class="navbar-brand" href="#">
        <img
          src="/img/WorryLessIcon.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        <span>WorryLess</span>
      </a>
    </nav>

    <!-- Calendar -->
    <main>
      <h1>Calendar</h1>
      <div id="calendar-container">
        <div id="calendar-header">
          <div id="monthDisplayTitle"></div>
          <div>
            <button id="backButton">Back</button>
            <button id="nextButton">Next</button>
          </div>
        </div>
        <div class="calendar-wrapper">
          <div id="weekdays">
            <div><span>Su</span></div>
            <div><span>Mo</span></div>
            <div><span>Tu</span></div>
            <div><span>We</span></div>
            <div><span>Th</span></div>
            <div><span>Fr</span></div>
            <div><span>Sa</span></div>
          </div>

          <div id="calendar"></div>
        </div>
      </div>

      <!-- Button for Worries -->
      <form action="/duringWorryTime" method="get">
          <label for="worrytime"> Your current worries: <%= amtOfWorries %></label>
        <button type="submit" name="worrytime" id="worrytime" class="worryButton">GO INTO WORRY TIME</button>
      </form>
    </main>

    <!-- Footer -->
    <%- include("./partials/footer"); %> 
</body>
<script src="/scripts/home_page.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
