<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/worry_form.css">
    <title>Worry Form</title>
</head>
<body>

    <nav class="navbar">
        <a class="navbar-brand" href="#">
            <img src="/img/WorryLessIcon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span>WorryLess</span>
        </a>
    </nav>
    
</body>
<script src="/scripts/worry_form.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script> -->
</html>