<footer id="nav" class="navbar justify-content-evenly fixed-bottom" style="height: 4em">
  <a class="icon-btn" href="/home">
    <i class="material-symbols-outlined">home</i>
    <p class="btm-btn-text">Home</p>
  </a>
  <a class="icon-btn" href="/worryForm">
    <i class="material-symbols-outlined">add_box</i>
    <p class="btm-btn-text">Journal</p>
  </a>
  <a class="icon-btn" href="/setWorryTime">
    <i class="material-symbols-outlined">alarm</i>
    <p class="btm-btn-text">Alarms</p>
  </a>
  <a class="icon-btn" href="/profile">
    <i class="material-symbols-outlined">person</i>
    <p class="btm-btn-text">Profile</p>
  </a>
</footer>